body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 150px;
}

.nav__rl{
    display: flex;
    align-items: center;
}

.nav__right{
    width: 70%;
}

.nav__left{
    width: 100%;
}

.nav__left img{
    height: 55px;
    width: 55px;
    margin-right: 10px;
}

.nav__left__title{
    font-size: 35px;
    color:  #06283D;
    font-weight: 700;
    
}

.nav__right ul{
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    height: 70%;
}

.nav__right li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 90%;
    width: 90%;
}

.nav__right li:hover{
    cursor: pointer;
    background-color: #F1F1F1;
    border-radius: 5px;
}

.nav__right a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #06283D;
}

.nav__right img{
    width: 40px;
}

.nav__right li{
    list-style: none;
}

.app{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.app__browser{
    display: flex;
    margin: 5px auto 25px auto;
}

.app__browser input{
    width: 350px;
    border: none;
    background-color: #F1F1F1;
    border-radius: 8px 0 0 8px;
    height: 50px;
    padding: 0 0 0 20px;
    margin: 0;
}

input:focus{
    outline: none;
}

.app__browser button{
    border: none;
    height: 50px;
    width: 90px;
    border-radius: 0 8px 8px 0;   
    background:  #06283D;
    color: white;
    padding: 0;
    margin-left: -5;
}

.app__browser button:hover{
    cursor: pointer;
}

.app__cards_containter{    
    display: flex;
    justify-content: center;
}

.card{
    border-radius: 8px;
    padding: 15px 20px 20px 20px;
    background: #06283D;
    width: 170px;
    height: 230px;
    color: white;
    margin: 10px;
    -webkit-box-shadow: 10px 10px 8px -3px rgba(184,184,184,0.77);
    -moz-box-shadow: 10px 10px 8px -3px rgba(184,184,184,0.77);
    box-shadow: 10px 10px 8px -3px rgba(184,184,184,0.77);
}

.card__x{
    float: right;
    font-weight: 300;
    vertical-align: super;
}

.card__details .card__image{
    height: 50%;
}

.card__details__title{
    font-size: 18px;
    font-weight: 300;
    margin-top:16px;
    margin-bottom: 10px;
}

.card__details__title sup{
    vertical-align: super;
    font-size: 10px;
    font-weight: 700;
    margin: 0;
    background-color: orange;
    padding: 2px 4px 2px 4px;
    border-radius: 6px;
}

.card__details__celcius{
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.card__image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__image img{
    width: 100px;
}

.card__image p{
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
}

.footer{
    display: flex;
    margin: auto;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    align-content: center;
    background:  #06283D;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
}

.footer__container li{
    list-style: none;
    color: white;
}

.footer__container a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: lighter
}

